
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

.nav-brand {
    font-family: 'MuseoModerno', cursive;
}

.left-part-cont {
    height: 100vh;
    background-color: rgb(51, 43, 35);
    color: white;
    padding: 0px;
}

.dashboard-header {
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 25px;
    /* font-family: 'Oxygen', sans-serif; */
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Orbitron', sans-serif;
}

.profile {
    margin-bottom: 30px;
}

.profile img {
    margin:  10px  ;
    width: 90%;
    height: 180px;
    border-radius: 50%;
    /* bottom: 10px; */
}

.info-sess {
    border-bottom: 1px solid black;
}

.map h3 {
    text-align: center;
    padding: 10px;
    font-family: 'Saira Condensed', sans-serif;
    text-decoration: underline;
}

.google-map {
    width: 100%;
    height: 580px;
    box-shadow: 2px 2px 5px black;
}

.graph h3 {
    text-align: center;
    padding: 10px;
    font-family: 'Saira Condensed', sans-serif;
    text-decoration: underline;
    font-size: 25px;
}

.graph iframe {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
}

.footer {
    padding: 15px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    background-color: black;
    color: white;
}


.aux-btn {
    width:90%;
    margin: auto;
}

.prg-hidden-part {
    display: none;
}